<div class="main-panel">
  <div style="margin-left: 1em; margin-right: 1em;">
    <header fxLayout="row" fxHide.xs="true">
      <div fxFlex="80">
        <span class="main-title">Dashboard</span>
      </div>
    </header>

    <!-- RECRUITER ADMIN -->
    <div fxLayout="row" fxLayoutGap="1em">
      <div fxLayout="column" fxLayoutGap="10px" style="width: 100%; height: 85vh;">
        <div class="target" fxFlex="50" style="width: 100%;" #container>
          <apx-chart *ngIf="change" [series]="chartOptions.series" [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis" [title]="chartOptions.title">
          </apx-chart>
        </div>
        <div class="target" fxFlex="50" style="height: 20em;">
          <highcharts-chart id="container" [Highcharts]="Highcharts" [constructorType]="chartConstructor"
            [options]="chartOptions2" style="width: 100%; height: 100%; display: block;">
          </highcharts-chart>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="10px" style="width: 100%; height: 85vh;">
        <div fxLayout="column" fxLayoutGap="10px" fxFlex="100">
          <div class="target" fxFlex="50" style="height: 20em;">
            <table mat-table [dataSource]="dataList" class="course-table">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="title-header">
                  <div>
                    Trainer and Course
                  </div>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div>
                    <div class="name">{{element.created_by.first_name | titlecase }}
                      {{element.created_by.last_name | titlecase}}</div>
                    <div fxLayoutAlign="center">
                      <div class="subtitle-name">
                        {{element.wav_number}}
                      </div>
                    </div>
                  </div>
                </td>
              </ng-container>
          
              <ng-container matColumnDef="trainees">
                <th mat-header-cell *matHeaderCellDef class="title-header">
                  Number of Course
                </th>
                <td mat-cell *matCellDef="let element">
                  <span class="subtitle"
                    style='color:#4b2cdc; font-size: 11px;'><b>{{ element.trained_number }}</b></span>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns">
            </table>
          </div>
          <div class="target" fxFlex="50" style="height: 20em;">

          </div>
        </div>
        <!-- <div fxLayout="column" fxLayoutGap="10px" fxFlex="50">
          <div class="target" fxFlex="50" style="height: 20em;" #container>

          </div>
          <div class="target" fxFlex="50" style="height: 20em;">

          </div>
        </div> -->
      </div>

    </div>
  </div>

</div>